@model MovieReviewer.review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Review1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movy.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movy.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Rid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
